body {
	margin: 0;
	overflow: hidden;
}

#gui {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#gui button {
	background-color: transparent;
	color: rgba(0, 0, 0, 0.5);
	border: none;
	margin: 4px;
}

#gui button:hover {
	border: 2px solid rgba(0, 0, 0, 0.5);
	margin: 2px
}