:root {
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
	--base-background-color: #262626;
	--base-color: #f3f3f3;
	--header-background-color: #600060;
	--header-color: #ffffff;
	--content-color: #f3f3f3;
	--slider-pin-color: #dfb9ea;
}

* {
	background-color: var(--base-background-color);
	color: var(--base-color);
}