#light-mode-toggle {
	border: none;
	/* Removing the default button border */
	border-radius: 50%;
	/* makes it circular */
	display: flex;
	/* centers the icon horizontally */
	align-items: center;
	/* centers the icon vertically */
	justify-content: center;
	/* centers the icon horizontally */
	background-color: transparent;
	/* Removing the default button background */
	cursor: pointer;
	/* Changes the cursor to a hand when hovering over the button */
}

#light-mode-toggle i {
	font-size: 20px;
}