#settings-cog {
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	transition: transform 0.5s;
}

#settings-cog:hover {
	transform: rotate(360deg);
}

#settings-menu {
	position: fixed;
	bottom: 75px;
	right: 20px;
	height: 300px;
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

#settings-menu.settings-menu-hidden {
	opacity: 0;
	visibility: hidden;
	transform: translateY(20px);
}

#settings-menu:not(.settings-menu-hidden) {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.settings-menu-hidden {
	opacity: 0;
	/* display: none; */
}

#settings-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}